// nextflow.config

// --- Global Parameters ---
params {
    // Input/Output
    samplesheet_file = 'samplesheet.csv'
    outdir = 'results'

    // Reference Files
    // Make sure these paths are correct for your system
    genome_fasta = 'genomes/hg38.fa'
    genome_gtf = 'genomes/hg38.gtf'
}

// --- Process Configuration ---
process {
    // Executor for your HPC
    executor = 'slurm'
    
    // Default resource allocations
    cpus = 2
    memory = '8.GB'
    time = '4h'

    // Use the 'module' directive to load software for each process
    // The module names come directly from your `module avail` output
    
    withName: FASTQC {
        module = 'fastqc/0.11.9'
    }
    
    withName: HISAT2_INDEX {
        module = 'hisat2/2.2.1'
        cpus = 8 // Building the index can use more cores
        memory = '48.GB'
    }

    withName: HISAT2_ALIGN {
        module = 'hisat2/2.2.1 samtools/1.15.1'
        label = 'high_mem'
        cpus = 8
        memory = '48.GB'
        time = '12h'
    }

    withName: FEATURE_COUNTS {
        module = 'subread/2.0.3'
        cpus = 8
        time = '12h'
    }
    
    withName: MULTIQC {
        // MultiQC is often python-based. You may need to load
        // a python module if multiqc isn't directly in your path.
        // Or your HPC may provide a dedicated module.
    }
}


// --- Execution Profiles ---
profiles {
    standard {
        process.executor = 'local'
    }
    hpc {
        // This profile is empty because we set the 'slurm' executor
        // in the main process block above. It serves as a switch to confirm
        // we intend to run on the cluster.
    }
}