// nextflow.config

// --- Global Parameters ---
params {
    // Input/Output
    samplesheet_file = 'samplesheet.csv'
    outdir = 'results'

    // Reference Files
    // Make sure these paths are correct for your system
    genome_fasta = 'genomes/hg38.fa'
    genome_gtf = 'genomes/hg38.gtf'
    
    // ==> ADD THIS LINE <==
    // Path to the poetry virtual environment for this project.
    // Find it by running: poetry env info --path
    poetry_venv_path = '/data/homezvol2/ddlin/.cache/pypoetry/virtualenvs/nextflow-rnaseq-4UrPdjYw-py3.10'
}

// --- Process Configuration ---
process {
    // Executor for your HPC
    executor = 'slurm'
    
    // Default resource allocations
    cpus = 2
    memory = '8.GB'
    time = '4h'

    // ... selectors for FASTQC, HISAT2_ALIGN, etc. remain the same ...
    
    withName: HISAT2_ALIGN {
        module = 'hisat2/2.2.1 samtools/1.15.1'
        label = 'high_mem'
        cpus = 8
        memory = '48.GB'
        time = '12h'
    }

    withName: FEATURE_COUNTS {
        module = 'subread/2.0.3'
        cpus = 8
        time = '12h'
    }
    
    withName: MULTIQC {
        // ==> UPDATE THIS BLOCK <==
        // Load the base python module required by your virtual environment
        module = 'python/3.10'
    }
}


// --- Execution Profiles ---
profiles {
    standard {
        process.executor = 'local'
    }
    hpc {
        // This profile is empty because we set the 'slurm' executor
        // in the main process block above. It serves as a switch to confirm
        // we intend to run on the cluster.
    }
}