// --- Global Parameters ---
params {
    // Input/Output
    samplesheet_file = 'samplesheet.csv'
    outdir = 'results'

    // Reference Files
    genome_fasta = 'genomes/hg38.fa'
    genome_gtf = 'genomes/hg38.gtf'

    // --- Workflow Control ---
    qc_only = false
    trim_only = false

    // Default trimming parameters if 'trim_args' is not in samplesheet
    trim_args_default = '--quality 20 --clip_R1 5 --clip_R2 5 --length 20 --trim-n'
    
    // Path to poetry venv (only used by the old MULTIQC process)
    // poetry_venv_path = '/data/homezvol2/ddlin/.cache/pypoetry/virtualenvs/nextflow-rnaseq-4UrPdjYw-py3.10'
}

// --- Process Configuration ---
process {
    executor = 'slurm'
    cpus = 2
    memory = '8.GB'
    time = '4h'

    withName: FASTQC {
        module = 'fastqc/0.11.9'
        beforeScript = 'module load fastqc/0.11.9'
    }

    withName: /TRIM_GALORE_.*/ { // Regex to match both PE and SE trimming
        module = 'trimgalore/0.6.7'
        beforeScript = 'module unload fastqc/0.11.9; module load trimgalore/0.6.7'
        cpus = 4
        memory = '16.GB'
    }

    withName: HISAT2_INDEX {
        module = 'hisat2/2.2.1'
        beforeScript = 'module unload fastqc/0.11.9; module load hisat2/2.2.1'
        cpus = 8
        memory = '48.GB'
    }

    withName: HISAT2_ALIGN {
        module = 'hisat2/2.2.1;samtools/1.15.1'
        beforeScript = 'module load samtools/1.15.1'
        label = 'high_mem'
        cpus = 8
        memory = '48.GB'
        time = '12h'
    }

    withName: /FEATURE_COUNTS_.*/ { // Regex to match both PE and SE counting
        module = 'subread/2.0.3'
        beforeScript = 'module unload hisat2/2.2.1; module unload samtools/1.15.1; module load subread/2.0.3'
        cpus = 8
        time = '12h'
    }
    
    withName: 'CAT_SE_READS|MERGE_COUNTS|MULTIQC' {
        module = 'python/3.10.2' // Assuming basic tools or python scripts
    }
}

// --- Execution Profiles ---
profiles {
    standard {
        process.executor = 'local'
    }
    hpc {
        process.executor = 'slurm'
    }
}